@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.media {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  margin: 5px 0;
  background-color: #282c34;
  border-radius: 10px;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.media:hover {
  background-color: white;
  color: black;
}

@media (max-width: 550px) {
  .media {
    width: 46%;
  }
}

.contentModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.contentModal::-webkit-scrollbar {
  display: none;
}

.contentLandScape {
  object-fit: contain;
  border-radius: 10px;
}

.contentPortrait {
  display: none;
  object-fit: contain;
  border-radius: 10px;
}
.tagline {
  padding-bottom: 10px;
  align-self: center;
}

.contentAbout {
  padding: 10px;
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  justify-content: space-evenly;
  font-weight: 300;
}

.contentTitle{
    font-size: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.contentDescription{
    display: flex;
    height: 35%;
    overflow-y: scroll;
    padding: 15px;
    border-radius: 20px;
    scrollbar-width: thin; /* Firefox */
    box-shadow: inset 0 0 5px #000000;
    text-align: justify;
    margin-bottom: 5px;
}

.contentDescription::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 835px) {
    .contentLandScape {
      display: none;
    }
    .contentPortrait {
      display: flex;
      width: 38%;
    }
    .contentModal {
      flex-direction: row;
      justify-content: space-around;
      padding: 10px 0;
    }
    .contentAbout {
      width: 58%;
      padding: 0;
      height: 100%;
    }
    .contentTitle {
      font-size: 3vw;
    }
    .contentDescription {
      font-size: 22px;
    }
  }